
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>Age</title>
    {% endif %}
    <style>
        *{
            padding: 0px;
            margin: 0px;
            font-family: 'Varela Round', sans-serif;
            background: rgb(253, 252, 252);
            
           
        }
        .Main{
            /* background-color: rgb(56, 51, 51); */
            height: 300px;
            width: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            border: 2px plum solid;
            border-radius: 20px;
        
           
        
      
            
        }
        .Main label{
            display: inline-block;
            font-family: 'Itim', cursive;
            text-transform: capitalize;
            margin-top: 10px;
            text-align: center;
            margin-left: 90px;
            font-size: large;
            color: palevioletred;
            
        }
        .Main h1{
            text-transform: capitalize;
            text-align: center;
            border-bottom: green solid 1px;
            
        }
        .Main .IMG{
            display: inline-block;
            padding: 0px;
            margin: 0px;
            height: 40px;
            width: 65px;
            margin-left: 20px;
            align-items: center;
            background: whitesmoke;
        }

        .Main input[type='submit']{
            display: inline-block;
            width: 100px;
            margin-left: 100px;
            margin-top: 20px;
            border: violet 1px solid;
            border-radius: 10px;
            height: 30px;
            font-weight: bold;
            background: rgb(218, 216, 216);
            
        }
        body{
            /* background: grey; */
            background: none;
        }
        .NEV{

padding: 0px;
margin: 0px;
}
.NEV ul {
text-align: center;
margin-left: 20px;
color: gray;
margin-top:40px ;


}
.NEV li{
display: inline-block;
margin-right:40px;
margin-top: 20px;

border-bottom: rgb(226, 106, 126) solid 2px;
border-radius: 10px;

}
a{
list-style: none;
color: rgb(28, 39, 194);
text-decoration: none;
font-size: 30px;
font-family: 'Itim', cursive;


}


    </style>
</head>
<body>
    <div class="NEV">
        <ul>
            <li>
                <a href="{{url_for('Menu')}}">Back</a>
            </li>
            <li><a href="{{url_for('Age')}}">Refresh</a></li>
        </ul>
    </div>
    
    <div class="Main">
        <img src="https://bit.ly/2Rskfe7" alt="Age" class="IMG">
        <h1>Age Calculator</h1>
        <br>
        <form action="{{url_for('main')}}" method="POST">
            <label for="">Day</label>
            <select name="Day" id="">
                {% for day in day %}
                    <option value="{{day}}">{{day}}</option>
                {% endfor %}
            </select> <br>
           <label for="">month</label>
               <select name="mon" id="">
                   {% for num , months in months %}
                        <option value="{{num}}">{{months}}</option>
                   {%endfor%}
               </select> <br>
    
            <label for="">year</label>
            <select name="My" id="Months">
                {% for year in year %}
                    <option value="{{year}}">{{year}}</option>
                {%endfor%}
            </select><br>
    
            <input type="submit" value="Convert">
    </div>
   
    </form>
    <!-- <p>{{day_u}}</p>
    <p>{{mon}}</p>
     -->
</body>
<html>