
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>Body-mass-index</title>
    {% endif %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <script>
        function ins(num){
            document.PUT.Hight.value = document.PUT.Hight.value+num
            
            // if wight(){
            //     document.PUT.wight.value = document.PUT.wight.value+num
            // }
            
        }
    </script>
   
   <style>
        *{
            padding: 0px;
            margin: 0px;
        }
        .all{
            font-family: 'Roboto', sans-serif;
            border: plum 2px solid;
            border-radius: 20px;
        }
        select {
            background-color: rgb(26, 24, 24);
            color: plum;
            width: 60px;
        }
        select option{
            font-family: 'Itim', cursive;
        }
        .all{
            width: 350px;
            height: 250px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            background-color: black;
        }
        h1{
            
            color:burlywood;
            text-align: center;
            /* text-decoration: underline; */
            text-transform: capitalize;
            font-family: 'Itim', cursive;
            margin-top: 10px;
            font-size: 30px;


        }
        .btn{
            padding: 0px;
            margin: 0px ;
        }
        .btn{
            width: 60px;
            height: 50px;
            margin: 5px;
            font-size: 24px;
            font-family: 'Itim', cursive;
            margin-left: 10px;

        }
        .all #int1{
            width: 120px;
            margin-top: 30px;
            margin-left: 40px;
            height: 20px;
            border: none;
            outline: none;
            background: transparent;
            color: whitesmoke;
            font-family: 'Itim', cursive;
            font-size: 20px;
            text-align: center;
            border-bottom: red solid 1.3px;
            margin-bottom: 5px;
        }
        .all #in2{
            width: 120px;
            margin-top: 20px;
            margin-left: 40px;
            height: 20px;
            border: none;
            outline: none;
            background: transparent;
            color: whitesmoke;
            font-family: 'Itim', cursive;
            font-size: 20px;
           
            text-align: center;
            border-bottom: red solid 1.3px;
            margin-bottom: 10px;
            margin-right:10px ;
        }
       
label{
    width: 20px;
    color: palevioletred;
    margin-left: 10px;
    font-family: 'Itim', cursive;
    font-weight: bold;
    font-size: large;


}
.mm{
    margin-left:140px ;
    height: 30px;
    width: 70px;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: large;
    color: wheat;
    background-color: black;
    border: palevioletred 2px solid;
    border-radius: 10px;
    margin-top: 35px;

}
body{
    background: grey;
}
nav ul li a{
    font-family: 'Itim', cursive;
    font-size: large;
}
nav ul{
    text-align: center;
    margin-left: 20px;
    /* border: 1px solid plum; */
}
nav ul li {
    display: inline-block;
    margin-right:40px;
    margin-top: 50px;
    text-align: center;
}
nav ul li  a{

    font-size: 40px;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    border-bottom: paleturquoise solid 1px;
}
    
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{url_for('Menu')}}">Back</a></li>
            <li><a href="{{url_for('BMI')}}">Refersh</a></li>
        </ul>
    </nav>
    <div class="all">
        <h1>Bmi calculator</h1>
        <form action="{{url_for('Bmi_cal')}}" method="POST" name='PUT'>
            <label for="">Height:</label>
            <select name="hig" id="">
                {%for mass in BMI_units[0:4]%}
                    <option value="{{mass}}">{{mass}}</option>
                {%endfor%}
            </select>
            
            <input type="text" name="Hight" id="int1" required autocomplete="off" placeholder="0" >
            
            <br>
           <label for="">weight:</label>
            <select name="mass" id="">
                {%for mass in BMI_units[4:]%}
                    <option value="{{mass}}">{{mass}}</option>
                {%endfor%}
            </select>
            <input type="text" name="wight" id="in2" required autocomplete="off" placeholder="0">
<br>
        
    
            <input class="mm" type="submit" value="Submit">
    

    </div>
</body>
<html>
