<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>User Data</title>
    {% endif %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <style>

        body{
            background:rgb(0, 0, 0);
        }
        .bmi{
            font-family: 'Ubuntu', sans-serif;
            text-align: center;
            color: burlywood;
            font-weight: bold;
            font-size: 50px;
            /* text-decoration: underline; */
            text-transform: capitalize;

        }
        h3{
            font-family: 'Ubuntu', sans-serif;
            text-align: center;
            color: whitesmoke;
            font-weight: bold;
            font-size: 50px;
            text-transform: capitalize;
            text-decoration: white;
        }
        a{
            font-size: large;
            font-family: 'Ubuntu', sans-serif;
            margin-top: 10px;
            font-weight: bold;
            list-style: none;
            color: rgb(147, 243, 13);
            display: block;
            text-align: center;
            /* border: 1px solid plum; */
            font-weight: bold;
            /* font-style: italic; */
            font-size: 50px; 
         



        }

    </style>
</head>
<body>
    <p class="bmi"> {{bmi}} BMI</p>
    <h3>For More Information</h3>
    <a href="https://en.wikipedia.org/wiki/Body_mass_index" target="_blank">Click</a>


    <!-- <p>{{mass_val}}</p> -->
</body> 
</html>