<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    </script>
   {% if title %}
        <title>{{title}}</title>
   {%else%}
        <title>OUT PUT</title>
    {% endif %}
    <style>

    </style>
</head>
<body>
    <h1>Welcome</h1>
    <form action="/CU" method="POST">
        <label for="first">Amount</label>
        <input type="text" name="first" id="first"  autocomplete="off">
        <select name="Con" id="con">
            {% for nat in data %}
                <option value="{{nat}}">{{nat}}</option>
            {%endfor%}
        </select>
        <select name="con2" id="con2">
            {% for nat in data %}
                <option value="{{nat}}">{{nat}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Convert" >

    </form>
    <br>
    <h3>{{retur}}</h3>
</body>
</html>