<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>OUT PUT</title>
    {% endif %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
   
   <style>
        .main{
            padding:0px ;
            height: 250px;
            width: 320px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            background: black;
            font-family: 'Itim', cursive;
            color: whitesmoke;
            border: rebeccapurple;
            border-radius: 20px;
            /* background: grey; */
            
        }
        h2{
            font-weight: bold;
            color: plum;
            padding-left: 5px;
            text-decoration: underline;
            
        }
        p{
            color: wheat;
            text-align: center;
            font-size: large;
        }
        body{
            background: grey;
        }
        .nn ul {

            text-align: center;
            margin-top: 80px;
        }
        .nn ul li{
            display: inline-block;
        margin-right:40px;
        margin-top: 20px;
        border-bottom: indigo solid 2px;
        /* border-radius: 10px; */


        }
        a{
            font-family: 'Itim', cursive;
            font-size: 30px;
            list-style: none;
            color: rgb(92, 42, 172);
        }

    </style>
</head>
<body>
    <div class="nn">
        <ul>
            <li> <a href="{{url_for('Age')}}">Back</a></li>
        </ul>
        <!-- <a href="{{url_for('Age')}}"><button>Back</button></a> -->
    </div>
   
    <div class="main">
        <h2>Age:</h2>
        <p>{{yer_result}} Years {{mont_re}} Months {{date_resul}} Days</p>
        <h2>Next birthday</h2>
        <!-- {% if leep %} -->
            <!-- <p>After {{leep_d}}</p> -->
        <!-- {%else%} -->
        <p>After {{ret}}  {{ne}}</p>
        <!-- {%endif%} -->
        <p></p>
    </div>

</body>
</html>