<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    
    
    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>Calculator</title>
    {% endif %}
    <script>
        function ins(num){
            document.PUT.textview.value = document.PUT.textview.value+num
        }
        function eq(){
            var exp = document.PUT.textview.value
            if (exp){
                document.PUT.textview.value = eval(exp)
            }
       
        }
        function cle(){

            document.PUT.textview.value = ' '}
        
        function mn(){
            var exp = document.PUT.textview.value
            document.PUT.textview.value = exp.substring(0,exp.length-1)
        }
        function hun(){
            var exp = document.PUT.textview.value /100
            document.PUT.textview.value = eval(exp)

        }
    </script>
    <style>
        .BT{
            margin: 0px;
            padding: 0px;
        }
        .BT{
            width: 60px;
            height: 50px;
            margin: 5px;
            font-size: 24px;
            font-family: 'Itim', cursive;
}
        .IN{
            text-align: right;
            width: 240px;
            display: inline-block;
            margin-top: 5px;
            margin: 5px;
            height: 40px;
            padding: 5px;
            outline: none;
            background: transparent;
            border: none;
            border-bottom: 1px solid red;
            margin-left: 37px;
            color: whitesmoke;
            font-family: 'Itim', cursive;
            font-size: 35px;


            
            
        }
        .main{

            width: 305px;
            height: 410px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: black;
            border: 2px solid plum;
            border-radius: 20px;
           
        }
        body{
            background-color:rgb(141, 139, 139) ;
        }
        @media only screen and (max-width: 300px) {
  body {
    background-color: gray;
  }
}
    .NEV{

        padding: 0px;
        margin: 0px;
    }
    .NEV ul {
        text-align: center;
        

    }
    .NEV li{
        display: inline-block;
        margin-right:40px;
        margin-top: 20px;

        border-bottom: rgb(226, 106, 126) solid 2px;
        border-radius: 10px;

    }
    a{
        list-style: none;
        color: rgb(28, 39, 194);
        text-decoration: none;
        font-size: 30px;
        font-family: 'Itim', cursive;

        
    }

    </style>
</head>
<body>
    <div class="NEV">
        <ul>
            <li>
                <a href="{{url_for('Menu')}}">Back</a>
            </li>
            <li><a href="{{url_for('Calc')}}">Refresh</a></li>
        </ul>
    </div>
    <div class="main" >
        <form action="" name="PUT">
            <input type="text" name="textview" id="PUT" class="IN" autocomplete="off" disabled><br>
            
        </form>
        <table>
            <tr>
                <td><input  class="BT"  type="button" value="C" onclick="cle()"></td>
                <td><input class="BT"  type="button" value="<" onclick="mn()"></td>
                <td><input class="BT"  type="button" value="%" onclick="hun()"></td>
                <td><input class="BT"  type="button" value=" ÷ " onclick="ins('/')"></td>
            </tr>
            <tr>
                <td><input type="button" class="BT" value=" 7 " onclick="ins(7)"></td>
                <td><input class="BT" type="button" value=" 8 " onclick="ins(8)"></td>
                <td><input class="BT" type="button" value=" 9 " onclick="ins(9)"></td>
                <td><input class="BT" type="button" value=" x "onclick="ins('*')"></td>
            </tr>
            <tr>
                <td><input class="BT" type="button" value=" 4 " onclick="ins(4)"></td>
                <td><input class="BT" type="button" value=" 5 " onclick="ins(5)"></td>
                <td><input class="BT" type="button" value=" 6 " onclick="ins(6)"></td>
                <td><input class="BT" type="button" value=" - " onclick="ins('-')"></td>
            </tr>
            <tr>
                <td><input class="BT" type="button" value=" 1 " onclick="ins(1)"></td>
                <td><input class="BT" type="button" value=" 2 " onclick="ins(2)"></td>
                <td><input class="BT" type="button" value=" 3 " onclick="ins(3)"></td>
                <td><input class="BT" type="button" value=" + " onclick="ins('+')"></td>
            </tr>
            <tr>
                <td><a href="#"><input class="BT" type="button" value="Sc" ></a></td>
                <td><input class="BT" type="button" value=" 0 " onclick="ins(0)"></td>
                <td><input class="BT" type="button" value=" . " onclick="ins('.')"></td>
                <td><input class="BT" type="button" value=" = " onclick="eq()"></td>
            </tr>
        </table>
    </div>
</body>
</html>