
<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<html>
 
<head>
  <meta charset="UTF-8">
  <title>Navigation Bar</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
      <link rel="stylesheet" href="style.css">

    <style>
/* code by webdevtrick ( https://webdevtrick.com ) */
body {
  background: #34495e;
  font: normal 300 18px "Roboto", sans-serif;
}
 
#menu-nav {
  max-width: 250px;
  margin: 10px auto;
  margin-top: 10px;
  background-color: #ebedee;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
 
#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 20%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #969393;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
  margin-left: 10px;
  margin-left: 0px;
}
#navigation-bar a:hover {
  color: #e74c3c;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 
li {
 list-style: none;
}
.maig{
    margin-left: 80px;
}
.gg{
  margin-left: 0px;
}
    </style>
</head>
 
<body>
 
  <div id="menu-nav">
  <div id="navigation-bar">
    <ul>
      <li class="gg"><a href="{{url_for('Home')}}"><i class="fa fa-home"></i><span>Home</span></a></li>
      <li class="maig"><a href="#"><i class="fa fa-handshake"></i><span>Refersh</span></a></li>
    </ul>
  </div>
  </div>
  </div>

  {% block content  %}

  {% endblock %}



</body>
 
</html>