<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volume</title>
</head>
<body>
    <div>
        <form action="/M_data" method="POST">
            <input type="text" name="user_data" id="">
            <select name="from" id="">
                {% for val , name in mass_data %}
                    <option value="{{val}}">{{name}}</option>
                {% endfor %}
            </select><br>
            <select name="To" id="">
                {% for val , name in mass_data %}
                    <option value="{{val}}">{{name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Convert">
        </form>
        <p>{{dummy_dat}}</p>
    </div>
    
</body>
</html>