<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <style>
        body{
            background: darkgray;
        }
        .main{
            width: 300px;
            height: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
            background: black;
            border-radius: 10px;
            border: purple 2px solid;

        }

        h1{
            text-align: center;
        }
        #Inp{
            border: none;
            outline: none;
            border: blue 1px solid;
            height: 30px;
            background: transparent;
            border-radius: 20px;
            font-family: 'Itim', cursive;
            font-size: 15px;
            font-weight: bold;
            color: wheat;
            text-align: center;


        }
        h3{
            text-align: center;
            font-family: 'Itim', cursive;
            color: salmon;
            font-size: 25px;
            font-weight: bold;
        }
        p{
            color: whitesmoke;
            font-family: 'Itim', cursive;

        }

        label{
            color: violet;
            font-family: 'Itim', cursive;
            font-size: large;
            margin-left: 90px;
            /* margin-top: 15px; */
        
        }
        select{
            margin-left: 110px;
            width: 60px;
            /* margin-top: 10px; */
            font-family: 'Itim', cursive;
            font-size: 15px;
         
            /* background: transparent; */
            color:wheat;
            background-color:rgb(37, 36, 36);


        }
        .Sub{
            margin-top: 20px;
            margin-left: 100px;
            font-family: 'Itim', cursive;
            font-size: 20px;
            background: rgb(55, 59, 51);
            color: rgb(235, 188, 128);
            
        }
        span{
            color: bisque;

        }
        p{
            text-align: center;
            font-family: 'Itim', cursive;
            font-size: large;
            color: bisque;
        }
        nav ul li a{
    font-family: 'Itim', cursive;
    font-size: large;
}
nav ul{
    text-align: center;
    margin-left: 20px;
    /* border: 1px solid plum; */
}
nav ul li {
    display: inline-block;
    margin-right:60px;
    margin-top: 50px;
    text-align: center;
}
nav ul li  a{
    display: block;
    font-size: 40px;
    color: rgb(5, 5, 5);
    list-style: none;
    padding:5px;
    text-decoration: none;
    border-bottom: 1px palegoldenrod solid;
    
}

    </style>
</head>
<body>
    <nav>
        <ul>
            <li class="fa fa-home" ><a href="{{url_for('Menu')}}">Back</a></li>
            <!-- <li ><a href="{{url_for('Data_con')}}">Refersh</a></li> -->
        </ul>
    </nav>
   <div class="main">
       <h3>Data Convert</h3>
    <form action="/Data" method="POST">
        <h1><input type="text" name="inbox" id="Inp" autocomplete="off" required></h1>
        <label for="">From:</label><br>
        <select name="One" id="">
            {% for val , name in  Data_inlis %}
                <option value="{{val}}">{{name}}</option>
            {% endfor %}
        
        </select><br>
        <label for="">To:</label>
        <br>
        <select name="c" id="">
            {% for val , name in  Data_inlis %}
                <option value="{{val}}">{{name}}</option>
            {% endfor %}
       
        </select><br>
        <input class = 'Sub'type="submit" value="Convert">
    </form>
    <p>Answer:&nbsp;&nbsp;&nbsp;<samp>{{out_bin_data}}</samp></p>
   </div>
</body>
</html>