<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
    body{
        background-color: gainsboro;
        
    }
    .MEN{
        padding:0px ;
        margin-top: 10px;
    }
    .MEN h2 a{
        margin: 10px auto;
        color: wheat;
        list-style: none;
        text-decoration: none;
        font-family: 'Itim', cursive;
        border: rgb(0, 0, 0) solid 2px;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        margin-top:10px ;
        background: black;
        border-radius: 10px;
    }


    .MEN{
        text-align: center;
    }
    .MEN{
        width: auto;
        height: auto;
    }
</style>

<div class="MEN">

    <h2 ><a href="{{url_for('Calc')}}">Basic Calculator</a></h2>
    <h2><a href="{{url_for('Calc')}}">Scantific Calculator</a></h2>
    <h2><a href="{{url_for('Temp')}}">Temperature Conveter</a></h2>
    <h2><a href="{{url_for('currency')}}">Currency Conveter</a></h2>
    <h2><a href="{{url_for('Data_con')}}">Data Conveter</a></h2>
    <h2><a href="{{url_for('Age')}}">Age Calculator</a></h2>
    <h2><a href="{{url_for('Time_conv')}}">Time Conveter</a></h2>
    <h2><a href="{{url_for('BMI')}}">BMI Data</a></h2>

</div>


</body>
</html>