<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Slab&display=swap" rel="stylesheet">

    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>Calculator</title>
    {% endif %}
      
      <style>  *{
            padding: 0px;
            margin: 0px;
            text-decoration:none ;
            list-style: none;
            box-sizing: border-box;

        }
        body{
            font-family: 'Montserrat', sans-serif;
        }
        nav{
            background-color: rgb(20, 94, 155);
            height: 80%;
            width: 100%;
        }
        label ,log{
            color: whitesmoke;
            font-size: 35px;
            line-height: 80px;
            padding-left: 70px;
            font-weight: bold;}
        nav ul{
            float: right;
            margin-right:20px ;
        }
        nav ul li{
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
        }
        nav ul li{
            color: white;
            font-size: 17px;
            text-transform: uppercase;
            line-height: 80px;

        }
        a{
            color:white;
            border-bottom: solid black 1px;
            margin-right: 20px;
            font-weight: bold;
            border-radius: 3px;
        }
        a.active,a:hover{
            background: #1b9bff;
            transition: .5s;

            
            
        }
        .main{
            padding: 0px;
            font-size: 30px;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;

          
        }
        #check{
            display: none;
        }
        @media (max-width:952px){
            label.log{
                font-size: 30px;
                padding-left:50px;
            }
            nav ul li{
                font-size: 15px;

            }
        }
        @media (max-width:858px){
            .main{
                display: block;
            }
            ul  {
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #2c3e50;
                top :80px;
                left: -100%;
                text-align: center;
                transition: all .5s;
        }
        nav ul li{
            display: block;
            margin: 50px 0px;
            line-height: 30px;
        }
        nav ul li a{
            font-size: 20px;

        }
        a:hover,a.activ{
            background: none;
            color: aqua;
        }
        #check:checked ~ ul{
            left: 0;
        }
        }
    </style>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="main">
            <i class="fa fa-bars" style="font-size:20px   "></i>
        </label>
        <label class="logo">Calculator</label>
        <ul>
            <li><a class="activ" href="{{url_for('Calc')}}">Home</a></li>
            <li><a href="{{url_for('Menu')}}">Menu</a></li
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>