<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed</title>
</head>
<body>
    <div>
        <form action="/speed" method="POST">
        <input type="text" name="speed_val" id="">
        <select name="data" id="">
        {% for data , val in speed_data  %}
            <option value="{{data}}">{{val}}</option>
        {% endfor %}
        </select><br>
        <select name="data2" id="">
            {% for data , val in speed_data  %}
                <option value="{{data}}">{{val}}</option>
            {% endfor %}
            </select>
        <input type="submit" value="Convert">
        <p>{{speed_out}}</p>
        </form>
    </div>
    
</body>
</html>