<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>Temp</title>
    {% endif %}
    <style>
        .Main{
            width: 300px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: black;
            border: 2px solid plum;
            border-radius: 20px;

        }
        label{
            color: rgb(235, 190, 197);
            font-family: 'Itim', cursive;
            font-size: large;
            font-weight: bold;
            
        }
        .Main #inp{

            border: none;
            outline: none;
            /* color: white; */
            background:transparent;
            border-bottom: plum 2px solid ;
            margin-left: 32px;
            text-transform: lowercase;
            /* margin-top: 50px; */
            /* text-align: center; */
            color: wheat;
            height: 40px;
            font-family: 'Itim', cursive;
            text-align: center;
            padding-right: 10px;
            font-size: 18px;


        }
        p{
            color: rgb(223, 214, 214);
            font-family: 'Itim', cursive;
            font-weight: bold;
            font-size: large;
            font-family: 'Itim', cursive;
            font-size: large;
            text-align: center;
            margin-top: 30px;
        }
        h3{font-family: 'Itim', cursive;
            color: burlywood;
            text-align: center;
            text-transform: capitalize;
        }
        select{
            background: transparent;
            font-family: 'Itim', cursive;
            color:palevioletred;
            background: rgb(20, 20, 20);
            border: none;
            outline: none;
            margin-top: 25px;

        
        }
        #ll{
            margin-left: 18px;
        }
        .jj{
            margin-left: 5px;
        }
        .sub{
            width: 100px;
            height: 30px;
            margin-top: 30px;
            margin-left: 96px;
            color: wheat;
            font-family: 'Itim', cursive;
            font-size: large;
    
            background: rgb(70, 71, 67);
            


        }
        body{
            background: grey;
        }
        span{
            color: wheat;
            font-family: 'Itim', cursive;
            font-weight: bold;
            font-size: large;
            font-family: 'Itim', cursive;
            font-size: large;
            margin-top: 5px;
        }
        nav ul li a{
    font-family: 'Itim', cursive;
    font-size: large;
}
nav ul{
    text-align: center;
    margin-left: 20px;
    /* border: 1px solid plum; */
}
nav ul li {
    display: inline-block;
    margin-right:60px;
    margin-top: 50px;
    text-align: center;
}
nav ul li  a{
    display: block;
    font-size: 40px;
    color: rgb(250, 231, 218);
    list-style: none;
    padding:5px;
    text-decoration: none;
    border-bottom: 1px palegoldenrod solid;
    
}
    </style>
</head>
<body>
    <nav>
        <ul>
            <li class="fa fa-home" ><a href="{{url_for('Menu')}}">Back</a></li>
            <!-- <li ><a href="{{url_for('Temp')}}">Refersh</a></li> -->
        </ul>
    </nav>

    <div class="Main">
    <h3>temperature calculator</h3>
    <form action="{{url_for('Temp_c')}}" method="POST">
        <input type="text" name="VAL" id="inp" placeholder="0" required autocomplete="off"><br>
        <label for="" class="jj">From:</label>
        <select name="user" id="">
            {% for val , name in  Temp_data %}
                <option value="{{val}}">{{name}}</option>
            {%endfor%}
        </select>
        <label id="ll" for="">To: </label>
        <select name="cal" id="">
            {% for val , name in  Temp_data %}
                <option value="{{val}}">{{name}}</option>
            {%endfor%}
        </select >
        <input type="submit" value="Convert" class="sub">
    </form>

    <p>Answer: <span>{{UNIT_out}}</span></p>
</div>

    
</body>
<html>