<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Rubik&display=swap" rel="stylesheet">
    {% if title %}
        <title>{{title}}</title>
    {%else%}
        <title>Calculator</title>
    {% endif %}
    
    <style>
        body{
            background: grey;
        }
        .Main{

            width: 300px;
            height: 350px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            background: black;
            border: 2px solid palevioletred;
            border-radius: 20px;

        }
        
        #inp{

            font-family: 'Itim', cursive;
            font-size: 20px;
            /* padding-left: 20px; */
            margin-top: 10px;
            /* margin-left: 33px; */
            text-align: center;
            font-weight: bold;
            height: 30px;
            background: transparent; 
            border: 1px solid rgb(240, 229, 231);
            outline: none;
            background: transparent;
            color: whitesmoke;
            font-family: 'Itim', cursive;
            font-size: 20px;
            text-align: center;
            /* border-bottom: red solid 1.3px; */
            margin-bottom: 5px;
            border-radius: 10px;
}
        .Main h3{
            
            font-family: 'Itim', cursive;
            /* font-size: 20px; */
            color: papayawhip;
            text-align: center;
            margin-top: 30px;

        }
        p{
            text-align: center;
        }
        label{
            color: violet;
            font-family: 'Itim', cursive;
            margin-left: 10px;
            font-size: 20px;
        }
        select{
            margin-top: 20px;
            font-family: 'Rubik', sans-serif;
            outline: none;
            background: transparent;
            background-color: black;
            color: wheat;
            width: 20px;

        }
        .f2{
                margin-left: 80px;
        }
        .ff{
            margin-left: 60px;
            padding-right: 10px;
        }

        .sub{
            margin-top: 30px;
            margin-left: 110px;
            font-family: 'Rubik', sans-serif;
            font-weight: bold;
            font-size: large;

        }
        .ans{
            font-family: 'Rubik', sans-serif;
            font-size: large;
            margin-top: 20px;
            color: whitesmoke;

        }
        span{
            color: wheat;

        }
        nav ul li a{
    font-family: 'Itim', cursive;
    font-size: large;
}
nav ul{
    text-align: center;
    margin-left: 20px;
    /* border: 1px solid plum; */
}
nav ul li {
    display: inline-block;
    margin-right:60px;
    margin-top: 50px;
    text-align: center;
}
nav ul li  a{
    display: block;
    font-size: 40px;
    color: rgb(255, 255, 255);
    list-style: none;
    padding:5px;
    text-decoration: none;
    border-bottom: 1px rgb(0, 0, 0) solid;
    
}



    </style>
</head>
<body>
    <nav>
        <ul>
            <li class="fa fa-home" ><a href="{{url_for('Menu')}}">Back</a></li>
            <li ><a href="{{url_for('Time_conv')}}">Refersh</a></li>
        </ul>
   <div class='Main'>
       <h3>Time Conveter</h3>
    <form action="/Time_con" method="POST">
        <p><input type="text" name="User_num" id="inp" required autocomplete="off" placeholder="0"><br></p>
        <label for="" class="f2">From:</label>
        <select name="From_data" id="">
            {%  for data , time in Time_conv_data %}
                <option value="{{data}}">{{time}}</option>
            {% endfor %}
        </select>
        <label for="">To:</label>

        

        <select name="To_data" id="">
            {%  for data , time in Time_conv_data %}
                <option value="{{data}}">{{time}}</option>
            {% endfor %}
        </select>
        <br>
        <input class="sub" type="submit" value="Convert">
    </form>
<p class='ans'>Answer: <span>{{TINE_OUT}} </span></p>
   </div>

</body>
</html>